

body, html {
    height: 100%;
   }
   
   .bg {
       background: url("Images/CocktailMain.jpg") no-repeat center center fixed;
     
       background-size: cover;
       height: 100%;
   }

   nav {
    background-color: rgba(109, 214, 255, 0.6);
    padding: 10px;
    border-bottom-color: black;
    font-size: 24px;
    width: 100%;
    text-align: center;
    height: 15%;
   }


   .remove-all-margin{
    margin:0 ! important;
    }

    .row-no-margin {
        margin-left: 0px;
        margin-right: 0px;
     } 
    
.MainContent {
    color: aliceblue;
    margin-top: 40px;
    width: 100%;
    
    
}

a {
    visibility: hidden;
}

#title {
    font-family: 'Yellowtail', cursive;
    font-size: 60px;
}

.sidebar {
	background-color: rgba(64, 224, 208, 0.8);
	color: white;
    padding-top: 20px;
    border: solid white 1px;
    opacity: 1;
    border-radius: 5px;
}

.FunFacts {
    margin-top: 10px;
    height: 43%;
    width: 48%;
    float:right;
}

.FavoriteDrinks {
    margin-top: 10px;
    height: 43%;
    width: 48%;
    margin-left: 0px;
    float:left;
    
}

.img-circle {
    width: 100px;
    height: 100px;
}

.underline {
    border-bottom: solid white 1px;
}

.CenterLeftSection {
   
    margin-right: 0px;
    background-color: rgba(64, 224, 208, 0.8);
	color: black;
    padding-top: 20px;
    border: solid white 1px;
    height: 1000px;
    width: 45%;
    opacity: 1;
    border-radius: 5px;
    padding: 10px;
    /*overflow: auto;*/
    float:left;
}

.CenterRightSection {
    
    margin-right: 0px;
    background-color: rgba(64, 224, 208, 0.8);
	color: black;
    padding-top: 20px;
    border: solid white 1px;
    height: 1000px;
    width: 45%;
    opacity: 1;
    border-radius: 5px;
    padding: 10px;
    /*overflow: auto;*/
    float: left;
}



.CenterImages {
    width: 50px;
    height: 20px;
}

.ContentSections {
    height: 500px;
    border-bottom: solid white 1px;
}

.BeerLogo {
    width:75px;
    height: 75px;
}
#map {
    height: 90%;
    width: 90%;
}

#headerRight {
    position: absolute;
    right: 0px;
    height: 100%;
}

.headerRightContents {
    position: relative;
    top: 5%;
    right: 5%;
    
}

#title {
    margin: 0 auto;
}

.cocktail-info {
    border: none;
    margin-bottom: 115px;
    padding-bottom: 20px;
    height: 385px;
}

.cocktail-search, .search-image {
    display: inline-block;
    padding: 20px;
    text-align: left;
    color: #007bff;
}
.search-text {
    width: 475px;
    margin: 0;
}

#pstyle {
    font-style: italic;
    color: #007bff;
}

.far {
    font-size: 25px;
    padding: 0 10px;
    color:gold;
  }

  .search-text-name, .far {
      display: inline-block;
      margin: 0;
  }